body{
  margin: 0;
  padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


.projectTitle {
	color: #777;
	font-size: 16px;
	font-weight: bold;
	left: -123px;
	position: relative;
	top: -30px;
	white-space: nowrap;
	width: 0;
}

